@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body */

body {
    font-family: "Roboto sans-serif";
    font-weight: normal;
    color: rgb(0, 0, 0);
    overflow: visible;

}


h1,
h2 {
    font-family: "Roboto Condensed sans-serif";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;

}

/* Home styling */

section {
    width: 100%;
    height: 900px;
}

#section1 {

    background-size: cover;
    width: 100%;
    background: url(../images/touching-food.jpg) no-repeat center center;
    margin-top: 100px;
}

#section2 {

    /* padding: 100px; */
    height: auto;
    /* box-sizing: border-box; */
}

#section2 h2 {
    font-size: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

#section2 p {
    font-size: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
}


/* heading and logo */

#logo {
    float: left;
    font-size: 330%;
    color: rgb(0, 0, 0);
    margin-left: 7%;
    font-weight: bold;
    /* bottom: auto; */
    margin-bottom: 20px;
}


/* navigation and links */

#nav-bar {

    height: 50px;
    font-size: 200%;
    font-style: normal;
    /* letter-spacing: 4px; */
    margin-top: 20px;
    background: snow;

}

#nav-bar ul {
    display: flex;

    margin-right: 0;
    /* padding: 0 50px; */
    float: right;
    flex-shrink: 2.5;
}

#nav-bar li {

    list-style-type: none;


}

#nav-bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 80px;
}

#nav-bar,
#logo {
    line-height: 80px;
}

#nav-bar a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid;

}

.active {
    border-bottom: 1px solid black;

}


/* footer styling */

footer {
    height: 150px;
    bottom: 0;
}

.ftr {
    text-align: center;

}

.ftr>li {
    display: inline;

}

.ftr i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: black;

}

/* 
.footer-div {
    /* padding-top: 30px; */
/* } */
*/
/* styling for the recipe page */

.section1-r h2,
#section1-r-1 h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 80px;
    width: 100%;
    margin-top: 80px;
}

.bolo-h3 {
    text-align: center;
    margin-top: 20px;

}

.section1-r,
#section1-r-1 {
    padding-top: 100px;
    width: 100%;
    height: 600px;

}

/* #salad-h2 {
    margin-top: 30px;
} */


.recipe-p {
    font-family: "roboto sans-serif";
    font-size: medium;
}

.section1-r-p,
.section1-r-1 p {
    font-family: "roboto sans-serif";
    font-size: 1.5em;
    text-align: center;
}

#bolognese-image {
    background-image: url(../images/spaghetti-pasta-bolognese-sauce-basil-black-stone-plate-italian-food-top-view-free-space-text-198944546.jpg);
    height: 300px;
    width: 30%;
    float: left;
    background-size: cover;

}

.bolognese-ingredients {
    padding-top: 35px;
    width: 30%;
    margin: 0 auto;
}

.bolognese-method {
    padding-top: 35px;
    width: 30%;
    float: right;
}

.recipe-li {
    font-size: large;
    font-weight: normal;
}

#bolognese-image-t {
    background-image: url(../images/132255_steak_00.011c6919.jpg);
    height: 300px;
    width: 30%;
    float: left;
    background-size: cover;
}

#bolognese-image-r {
    background-image: url(../images/tomato_bulgur_salad-014-Edit-1024x683.jpg);
    height: 300px;
    width: 30%;
    float: left;
    background-size: cover;
}

/* eatery styling */

#eatery-h2 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;

}

.eatery-2 {
    background-image: url(../images/asford-castle-front-lawn.jpg);
    height: 300px;
    width: 40%;
    float: left;
    background-size: cover;
}

#eatery1-e {
    padding-top: 80px;
    width: 100%;
    height: 600px;

}

.eatery-h4 {
    text-align: center;
    font-family: "roboto sans-serif";
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 20px;
}

.eatery-p {
    font-family: "roboto sans-serif";
    font-weight: normal;
    font-size: large;
    padding-bottom: 35px;
}

.eatery-5 {
    background: url(../images/exterior.jpg);
    height: 300px;
    width: 40%;
    float: left;
    background-size: cover;
}

.eatery-3 {
    height: 300px;
    width: 55%;
    float: right;

}

/* join us styling */


* #join-us-image {
    background-image: url(../images/fine-dining-meal.jpg);
    background-position: center center;
    background-size: cover;
    margin-top: 10vh;
    width: 100%;
}

.join-us-h2 {
    margin-top: 10vh;
    text-align: center;
}

.join-us-p {
    font-size: x-large;
    margin-top: 5vh;
    padding-left: 10px;
}

#join-us-form {
    clear: both;
    /* height: 1800px; */
    margin-top: 50px;
    margin-right: 20%;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 500px;
    /* padding: 40px; */
    padding-left: 10px;
}

#user {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

#email-field {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.sign-up-button {
    margin-top: 25px;
    border-radius: 5px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: center;
    font-size: x-large;
}

#join-us {
    height: 1600px;
}


/* Media queries for screen sizes at max-width 1200px */

@media screen and (max-width: 1200px) {

    #section2 {
        width: 90%;
        height: 1000px;
        margin: 0 auto;
    }

    #welcome {
        padding: 10px 0;
        margin: 0;
    }

    #section1 {
        clear: both;
        width: 80%;
        background-size: cover;

    }

    .welcome-p {
        width: 100%;
        margin: 0 auto;
        padding: 0
    }


    .section1-r,
    #section1-r-1 {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    .section1-r-p {
        padding: 35px 0;
        margin: 0;
    }

    .bolognese-ingredients {
        width: 100%;
        float: left;
        padding: 0;
    }

    .bolognese-method {
        width: 100%;
        float: left;
        padding: 0;
    }

    #bolognese-image {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }

    #bolognese-image-t {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }

    #bolognese-image-r {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }

    #eatery1-e,
    #eatery2-e {
        width: 65%;
        /* height: 1000px; */
        margin: 0 auto;
    }

    .eatery-p {
        padding: 35px 0;
        margin: 0;
    }

    .eatery-3 {
        width: 100%;
        float: left;
        padding: 0;
    }

    .eatery-2,
    .eatery-5 {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
}

#join-us-image {
    clear: both;
    width: 100%;
    background-size: cover;
}


/* media queries for screen sizes at max-width 950px */

@media screen and (max-width: 950px) {
    #nav-bar {
        clear: both;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 30px;

    }

    #section2 {
        width: 90%;
        height: 600px;
        margin-left: 20%;
    }

    #section2 h2 {
        width: 70%;
        text-align: center;
    }

    #section2 p {
        text-align: left;
        width: 80%;
        margin-right: 110px;
        padding-right: 20px;
        /* padding: 0 25px; */
    }

    #section1 {
        clear: both;
        width: 90%;
        background-size: cover;

    }

    #welcome {
        padding: 35px 0;
        margin-bottom: 20vh;
    }


    .ftr {
        margin-bottom: 0;
        margin-top: 100px;
        /* margin-left: 20px;
        width: 900px; */
    }

    .section1-r {
        width: 90%;
        height: 1000px;
        margin: 0 auto;
    }

    .bolognese-method,
    .bolognese-ingredients {
        width: inherit;
    }

    .bolognese-method h2,
    .bolognese-ingredients h2,
    .section1-r h2 {
        width: 100%;
        text-align: center;
    }

    .bolognese-method p,
    .bolognese-ingredients p,
    .section1-r p {
        text-align: center;
        padding: 0 25px;
    }


    #eatery1-e,
    #eatery2-e {
        width: 90%;
        height: 1000px;
        margin: 0 auto;
    }

    #eatery-h2,
    .eatery-h4 {
        width: 100%;
        text-align: center;

    }

    .eatery-p {
        margin-bottom: 20px;
    }

    .eatery-5 {
        margin-top: 300px
    }

    .username-div {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

#join-us-image {
    clear: both;
    width: 100%;
    background-size: cover;
}

/* media queries for screen sizes at max-width 800px */

@media screen and (max-width: 800px) {
    #nav-bar {
        flex-basis: 200px;

    }

    #welcome {
        margin-right: 80px;
        text-align: left;

    }

    #section1 {
        width: 100%;

    }



}

/* media queries for screen sizes at max-width 450px */

@media screen and (max-width: 450px) {

    #nav-bar {

        height: 50px;
        font-size: medium;
        font-style: normal;
        /* letter-spacing: 4px; */
        margin-top: 20px;
        background: snow;

    }
}