@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "roboto"sans-serif;
    font-weight: 30;
    color: rgb(0, 0, 0);
   

    
    
}

h1,
h2 {
    font-family: "Roboto Condensed" sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;

}

/* heading and logo */

#logo {
    float: left;
    font-size: 330%;
    color: rgb(0, 0, 0);
    margin-left: 7%;
    font-weight: bold;
    

}

/* navigation and links */

#nav-bar {
    font-size: 200%;
    font-style: normal;
    letter-spacing: 1px;

}

#nav-bar li {
    float: right;
    list-style-type: none;
    margin-right: 8%;
    
    
    

}

#nav-bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#nav-bar,
#logo {
    line-height: 80px;
}

#nav-bar a:hover {
    color: rgb(0, 0, 0);

}
/* Hero image styling */
#hero-image{
    height: 800px;
    width: 100%;
    background:url(../images/touching-food.jpg) no-repeat center center;
}
