@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body */

body {
    font-family: Roboto sans-serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
}


h1,
h2 {
    font-family: Roboto Condensed sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;

}

/* Home styling */

section {
    width: 100%;
    height: 100vh;
}

#section1 {

    background-size: cover;
    width: 100%;
    background: url(../images/touching-food.jpg) no-repeat center center;
    margin-top: 100px;
}

#section2 {

    padding: 100px;
    height: auto;
    box-sizing: border-box;
}

#section2 h2 {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#section2 p {
    font-size: 1.5em;
    margin: 0;
    padding-top: 20px;
}


/* heading and logo */

#logo {
    float: left;
    font-size: 330%;
    color: rgb(0, 0, 0);
    margin-left: 7%;
    font-weight: bold;
    bottom: auto;
}


/* navigation and links */

#nav-bar {

    height: 50px;
    font-size: 200%;
    font-style: normal;
    letter-spacing: 0.1vw;
    top: 0;
    background: snow;

}

#nav-bar ul {
    display: flex;
    margin-right: 0;
    padding: 0 50px;
    float: right;
}

#nav-bar li {

    list-style-type: none;


}

#nav-bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 80px;
}

#nav-bar,
#logo {
    line-height: 80px;
}

#nav-bar a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid;

}

.active {
    border-bottom: 1px solid black;

}


/* footer styling */

footer {
    height: 150px;

}

.ftr {
    text-align: center;

}

.ftr>li {
    display: inline;

}

.ftr i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: black;

}

/* styling for the recipe page */

#section1-r h2 {
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
    width: 100%;
    margin-top: 20px;

}

.bolo-h3 {
    text-align: center;

}

#section1-r {
    padding-top: 80px;
    width: 100%;
    height: 800px;

}


.recipe-p {
    font-family: roboto sans-serif;
    font-size: medium;
}

#bolognese-image {
    background-image: url(../images/spaghetti-pasta-bolognese-sauce-basil-black-stone-plate-italian-food-top-view-free-space-text-198944546.jpg);
    height: 300px;
    width: 33%;
    float: left;
    background-size: cover;
    padding: auto;

}

#bolognese-ingredients {
    padding-top: 35px;
    width: 33%;
    margin: 0 auto;
}

#bolognese-method {
    padding-top: 35px;
    width: 33%;
    float: right;
}

/* .bolo h3 p ul li {
    width: 30%;
    float: none;
    margin-top: 20px;
} */

/* .bolog {
    float: right;
    width: 33%;
    margin-top: 20px;

} */

.recipe-li {
    font-size: large;
    font-weight: normal;
}


/* eatery styling */

#eatery-h2 {
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
    margin-top: 10vh;
}

#eatery-1 {
    padding-top: 3vh;
    display: grid;
    grid-template-columns: 30% 65%;
    width: 100%;
    gap: 1em;
}

.eatery-2 {
    background: url(../images/asford-castle-front-lawn.jpg) center center / contain no-repeat;
}

.eatery-h4 {
    text-align: left;
    font-family: roboto sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.eatery-p {
    font-family: roboto sans-serif;
    font-weight: normal;
    font-size: large;
}

.eatery-5 {
    background: url(../images/exterior.jpg) center center no-repeat;
    background-size: contain;
}

/* join us styling */

#join-us-image {
    background-image: url(../images/food-photography3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 10vh;
    width: 100%;
}

.join-us-h2 {
    margin-top: 10vh;
    text-align: center;
}

.join-us-p {
    font-size: x-large;
    margin-top: 5vh;
}

/* Media queries for tablets at max-width 1200px */

@media screen and (max-width: 1200px) {

    #section2 {
        width: 80%;
        height: 1000px;
        margin: 0 auto;
    }

    #welcome {
        padding: 35px 0;
        margin: 0;
    }

    #section1 {
        clear: both;
        width: 100%;
        background-size: cover;

    }

    .welcome-p {
        width: 100%;

        padding: 0
    }

    /* #recipe-section {
        width: 80%;
        height: 1000px;
        margin: 0 auto;
        clear: both;
    } */
}




/* media queries for screen sizes at max-width 950px */

@media screen and (max-width: 950px) {
    #nav-bar {
        clear: both;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 30px;
    }

    #section2 {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        margin-left: 20%;
    }

    #section1 {
        clear: both;
        width: 1000px;
        background-size: cover;

    }

    #welcome {
        padding: 35px 0;
        margin-bottom: 20vh;
    }


    .ftr {
        margin-bottom: 0;
        margin-left: 20px;
        width: 1000px;
    }

    /* .recipe1>div {
        width: 100%;
        clear: both;
        height: 100px;
        padding: 0; */





}

/* media queries for screen sizes at max-width 650px */

@media screen and (max-width: 650px) {
    #section1 {
        clear: both;
        width: 1000px;
        background-size: cover;
    }

    #section2 {
        width: 100%;
        height: 800px;
        padding: 0;
        margin-left: 95%;

    }

    /* .recipe1>div {
        width: 100%;
        clear: both;
        height: 100px;
        padding: 0;
    } */



}